.DS_Store
.idea
.vscode
.history/
.vsix
*.log
tmp/
todo*
TODO*


.python-version
docs/generated/*
docs_build
.ruff_cache/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.ropeproject/

_version.py

*.mrd
results/
multirun/
outputs/
