# this file is *not* meant to cover or endorse the use of GitHub Actions, but rather to
# help test this project

name: Test

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python: ['3.10' , '3.12']
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install finufft ipywidgets
          pip install -e .[test,toolkit]
      - name: Test
        run: |
          pytest tests

  test-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install finufft ipywidgets
          pip install -e .[toolkit]
      - name: Test
        run: |
          pytest examples/anatomical

  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[toolkit]
          pip install ruff
      - name: Linters
        run: |
          ruff check src
          ruff format --check src
      - name: Annotate locations with typos
        if: always()
        uses: codespell-project/codespell-problem-matcher@v1
      - name: Codespell
        if: always()
        uses: codespell-project/actions-codespell@v2

  # build-docs:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Set up Python ${{ matrix.python }}
  #       uses: actions/setup-python@v4
  #       with:
  #         python-version: ${{ matrix.python }}
  #         cache: 'pip'
  #     - name: Install dependencies
  #       run: |
  #         python -m pip install --upgrade pip
  #         pip install -e .[dev,doc]
  #     - name: Build the doc with sphinx
  #       run: |
  #         python -m sphinx build docs docs_build
  #     - name: Upload documentation artifact
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: docs
  #         path: docs_build
